<%- include('./partials/head') %>
<main>
  <div>
    <ul>
      <%articles.forEach(article => {
        {%>
        <li>
          <a href="/artikel/<%=article.slug%>">
            <h1><%-article.title.rendered%></h1>
          </a>
        </li>
        <%}
      })%>
    </ul>
  </div>
</main>
    
<%- include('./partials/foot') %>
